body {
    margin: 5rem;
    background-color: beige;
}

h1, h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
}

h2 {
    border: 2px dashed black;
}

div {
    text-align: center;
}

ul {
    text-align: center;
}
li {
    list-style: none;
    border: 2px solid black;
    display: block;
    font-size: 2rem;
    margin: 100px 700px;
}

h3 {
    text-align: center;
    color: red;

}